 
/*
    Login
*/
.social {
    background: url("../img/se-icon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.social.Twitter{
    background-position:0 -51px;
}
.social.Facebook{
    background-position:0 -68px;
}
.social.Google{
    background-position:0 -426px;
}
.social.Yandex {
    background-position: 0 -17px;
}
/*
    Eof Login
*/

footer .copy {
    margin: 9px 10px 0 0;
}
