/**{
    padding:0;
    margin:0;
}

input[type=submit]{
    cursor: pointer;
}

table{
    border-collapse:collapse;
}

td{
    vertical-align: top;
}

.relative{
    position: relative;
    overflow: hidden;
}

div.wrapper{
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
}

div.inner{
    padding: 0 10px;
}

div.header{
    min-height: 150px;
}

div.logo{
    float: left;
    min-width: 200px;
}

.body{
    min-height: 400px;
}

.footer{
    margin: 50px 0 0;
}
.footer .copy{
    min-height: 50px;
}


.error{
    font-weight: bold;
    color: red;
}

div.busket{
    float: right;
    min-width: 200px;
}

/*div.mainmenu{
    margin:  50px 0 0;
}*/

/*table.mainmenu{
    width: 100%;
}
table.mainmenu td{
    text-align: center;
    white-space: nowrap;
    border: 1px solid black;
    background-color: #CCC;
    padding: 3px 10px;
}
table.mainmenu a{
    color: blue;
    font-size: 120%;
    text-decoration: none;
}

ul.pages{
    text-align:center;
}
ul.pages li{
    display: inline;
    list-style: none;
    margin: 0 5px;
}


.form{}
.form .block {
    margin: 0 0 15px;
}

.form input, .form textarea {
    padding: 3px 0;
    vertical-align: middle;
    width: 500px;
}
.form textarea{
    height: 150px;
}
.form input[type=submit]{
    width: auto;
}


/*
    Login
*/
.social {
    background: url("../img/se-icon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}
.social.Twitter{
    background-position:0 -51px;
}
.social.Facebook{
    background-position:0 -68px;
}
.social.Google{
    background-position:0 -426px;
}
.social.Yandex {
    background-position: 0 -17px;
}
/*
    Eof Login
*/


/*
    Orders form
*/

/*.loginLogin {
    background-color: #FFFFFF;
    width: 298px;
}

.loginLogin label 
,.form label 
{
    display: block;
    overflow: hidden;    
    margin: 5px 0;
}

.loginLogin .label
,.form .label{
    display: block;
    float: left;
    width: 118px;
}


.loginForm fieldset {
    padding: 3px;
}

table.form{
    width:  100%;
    border-collapse:collapse;
}
table.form td
,table.form th
{
    border: 1px solid #CCC;
    text-align: center;
    padding: 2px 5px;
}

table.form td.good{
    text-align: left;
}

.good-item{
    overflow:hidden;
}

.update-profile .form input[type=text]
,.update-profile .form input[type=password]
{
    width: 80%;
}

*/
